@layer utilities {
  @keyframes enter {
    from {
      opacity: var(--tw-enter-opacity, 1);
      transform:
        translate3d(
          var(--tw-enter-translate-x, 0),
          var(--tw-enter-translate-y, 0),
          0
        )
        scale3d(
          var(--tw-enter-scale, 1),
          var(--tw-enter-scale, 1),
          var(--tw-enter-scale, 1)
        )
        rotate(var(--tw-enter-rotate, 0));
    }
  }

  @keyframes exit {
    to {
      opacity: var(--tw-exit-opacity, 1);
      transform:
        translate3d(
          var(--tw-exit-translate-x, 0),
          var(--tw-exit-translate-y, 0),
          0
        )
        scale3d(
          var(--tw-exit-scale, 1),
          var(--tw-exit-scale, 1),
          var(--tw-exit-scale, 1)
        )
        rotate(var(--tw-exit-rotate, 0));
    }
  }
}

@utility animate-in {
  animation-name: enter;
  animation-duration: var(--tw-animation-duration, 150ms);
  animation-fill-mode: both;
  --tw-enter-opacity: initial;
  --tw-enter-scale: initial;
  --tw-enter-rotate: initial;
  --tw-enter-translate-x: initial;
  --tw-enter-translate-y: initial;
}

@utility animate-out {
  animation-name: exit;
  animation-duration: var(--tw-animation-duration, 150ms);
  animation-fill-mode: both;
  --tw-exit-opacity: initial;
  --tw-exit-scale: initial;
  --tw-exit-rotate: initial;
  --tw-exit-translate-x: initial;
  --tw-exit-translate-y: initial;
}

@utility fade-in {
  --tw-enter-opacity: 0;
}

@utility fade-out {
  --tw-exit-opacity: 0;
}

@utility slide-in-from-top {
  --tw-enter-translate-y: -100%;
}

@utility slide-in-from-bottom {
  --tw-enter-translate-y: 100%;
}

@utility slide-in-from-left {
  --tw-enter-translate-x: -100%;
}

@utility slide-in-from-right {
  --tw-enter-translate-x: 100%;
}

@utility slide-out-to-top {
  --tw-exit-translate-y: -100%;
}

@utility slide-out-to-bottom {
  --tw-exit-translate-y: 100%;
}

@utility slide-out-to-left {
  --tw-exit-translate-x: -100%;
}

@utility slide-out-to-right {
  --tw-exit-translate-x: 100%;
}

@utility duration-150 {
  --tw-animation-duration: 150ms;
}

@utility duration-200 {
  --tw-animation-duration: 200ms;
}

@utility duration-300 {
  --tw-animation-duration: 300ms;
}

@utility duration-500 {
  --tw-animation-duration: 500ms;
}
