@theme {
  /* Default Background + Inverted */
  --background-color-default: var(--neutral-100);
  --background-color-default-hovered: var(--neutral-200);
  --background-color-default-pressed: var(--neutral-300);
  --background-color-default-focused: var(--neutral-100);
  --background-color-default-loading: var(--neutral-300);
  --background-color-default-inverted: var(--neutral-700);
  --background-color-default-hovered-inverted: var(--neutral-800);
  --background-color-default-pressed-inverted: var(--neutral-900);
  --background-color-default-focused-inverted: var(--neutral-700);
  --background-color-default-loading-inverted: var(--neutral-900);

  /* Primary Background + Inverted */
  --background-color-primary: var(--primary-700);
  --background-color-primary-hovered: var(--primary-800);
  --background-color-primary-pressed: var(--primary-900);
  --background-color-primary-focused: var(--primary-700);
  --background-color-primary-loading: var(--primary-900);
  --background-color-primary-inverted: var(--primary-100);
  --background-color-primary-hovered-inverted: var(--primary-200);
  --background-color-primary-pressed-inverted: var(--primary-300);
  --background-color-primary-focused-inverted: var(--primary-100);
  --background-color-primary-loading-inverted: var(--primary-300);

  /* Info Background + Inverted */
  --background-color-info: var(--info-700);
  --background-color-info-hovered: var(--info-800);
  --background-color-info-pressed: var(--info-900);
  --background-color-info-focused: var(--info-700);
  --background-color-info-loading: var(--info-900);
  --background-color-info-inverted: var(--info-100);
  --background-color-info-hovered-inverted: var(--info-200);
  --background-color-info-pressed-inverted: var(--info-300);
  --background-color-info-focused-inverted: var(--info-100);
  --background-color-info-loading-inverted: var(--info-300);

  /* Success Background + Inverted */
  --background-color-success: var(--success-700);
  --background-color-success-hovered: var(--success-800);
  --background-color-success-pressed: var(--success-900);
  --background-color-success-focused: var(--success-700);
  --background-color-success-loading: var(--success-900);
  --background-color-success-inverted: var(--success-100);
  --background-color-success-hovered-inverted: var(--success-200);
  --background-color-success-pressed-inverted: var(--success-300);
  --background-color-success-focused-inverted: var(--success-100);
  --background-color-success-loading-inverted: var(--success-300);

  /* Warning Background + Inverted */
  --background-color-warning: var(--warning-700);
  --background-color-warning-hovered: var(--warning-800);
  --background-color-warning-pressed: var(--warning-900);
  --background-color-warning-focused: var(--warning-700);
  --background-color-warning-loading: var(--warning-900);
  --background-color-warning-inverted: var(--warning-100);
  --background-color-warning-hovered-inverted: var(--warning-200);
  --background-color-warning-pressed-inverted: var(--warning-300);
  --background-color-warning-focused-inverted: var(--warning-100);
  --background-color-warning-loading-inverted: var(--warning-300);

  /* Danger Background + Inverted */
  --background-color-danger: var(--danger-700);
  --background-color-danger-hovered: var(--danger-800);
  --background-color-danger-pressed: var(--danger-900);
  --background-color-danger-focused: var(--danger-700);
  --background-color-danger-loading: var(--danger-900);
  --background-color-danger-inverted: var(--danger-100);
  --background-color-danger-hovered-inverted: var(--danger-200);
  --background-color-danger-pressed-inverted: var(--danger-300);
  --background-color-danger-focused-inverted: var(--danger-100);
  --background-color-danger-loading-inverted: var(--danger-300);

  @layer base {
    [data-theme='dark'] {
      /* Default Background + Inverted */
      --background-color-default: var(--neutral-900);
      --background-color-default-hovered: var(--neutral-800);
      --background-color-default-pressed: var(--neutral-700);
      --background-color-default-focused: var(--neutral-900);
      --background-color-default-loading: var(--neutral-700);
      --background-color-default-inverted: var(--neutral-100);
      --background-color-default-hovered-inverted: var(--neutral-200);
      --background-color-default-pressed-inverted: var(--neutral-300);
      --background-color-default-focused-inverted: var(--neutral-100);
      --background-color-default-loading-inverted: var(--neutral-300);

      /* Primary Background + Inverted */
      --background-color-primary: var(--primary-300);
      --background-color-primary-hovered: var(--primary-200);
      --background-color-primary-pressed: var(--primary-100);
      --background-color-primary-focused: var(--primary-300);
      --background-color-primary-loading: var(--primary-100);
      --background-color-primary-inverted: var(--primary-900);
      --background-color-primary-hovered-inverted: var(--primary-800);
      --background-color-primary-pressed-inverted: var(--primary-700);
      --background-color-primary-focused-inverted: var(--primary-900);
      --background-color-primary-loading-inverted: var(--primary-700);

      /* Info Background + Inverted */
      --background-color-info: var(--info-300);
      --background-color-info-hovered: var(--info-200);
      --background-color-info-pressed: var(--info-100);
      --background-color-info-focused: var(--info-300);
      --background-color-info-loading: var(--info-100);
      --background-color-info-inverted: var(--info-900);
      --background-color-info-hovered-inverted: var(--info-800);
      --background-color-info-pressed-inverted: var(--info-700);
      --background-color-info-focused-inverted: var(--info-900);
      --background-color-info-loading-inverted: var(--info-700);

      /* Success Background + Inverted */
      --background-color-success: var(--success-300);
      --background-color-success-hovered: var(--success-200);
      --background-color-success-pressed: var(--success-100);
      --background-color-success-focused: var(--success-300);
      --background-color-success-loading: var(--success-100);
      --background-color-success-inverted: var(--success-900);
      --background-color-success-hovered-inverted: var(--success-800);
      --background-color-success-pressed-inverted: var(--success-700);
      --background-color-success-focused-inverted: var(--success-900);
      --background-color-success-loading-inverted: var(--success-700);

      /* Warning Background + Inverted */
      --background-color-warning: var(--warning-300);
      --background-color-warning-hovered: var(--warning-200);
      --background-color-warning-pressed: var(--warning-100);
      --background-color-warning-focused: var(--warning-300);
      --background-color-warning-loading: var(--warning-100);
      --background-color-warning-inverted: var(--warning-900);
      --background-color-warning-hovered-inverted: var(--warning-800);
      --background-color-warning-pressed-inverted: var(--warning-700);
      --background-color-warning-focused-inverted: var(--warning-900);
      --background-color-warning-loading-inverted: var(--warning-700);

      /* Danger Background + Inverted */
      --background-color-danger: var(--danger-300);
      --background-color-danger-hovered: var(--danger-200);
      --background-color-danger-pressed: var(--danger-100);
      --background-color-danger-focused: var(--danger-300);
      --background-color-danger-loading: var(--danger-100);
      --background-color-danger-inverted: var(--danger-900);
      --background-color-danger-hovered-inverted: var(--danger-800);
      --background-color-danger-pressed-inverted: var(--danger-700);
      --background-color-danger-focused-inverted: var(--danger-900);
      --background-color-danger-loading-inverted: var(--danger-700);
    }
  }
}
