@theme {
  /* FONTS */
  --font-body:
    'Sora', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial,
    sans-serif;
  --font-display:
    'Fira Code', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial,
    sans-serif;
  --font-mono:
    'Fira Code', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;

  /* Text Styles */
  --text-xs: 12px;
  --text-xs--line-height: 16px;
  --text-xs--paragraph-spacing: 12px;

  --text-sm: 14px;
  --text-sm--line-height: 20px;
  --text-sm--paragraph-spacing: 14px;

  --text-base: 16px;
  --text-base--line-height: 24px;
  --text-base--paragraph-spacing: 16px;

  --text-lg: 18px;
  --text-lg--line-height: 28px;
  --text-lg--paragraph-spacing: 18px;

  --text-xl: 20px;
  --text-xl--line-height: 28px;
  --text-xl--paragraph-spacing: 20px;

  --text-2xl: 24px;
  --text-2xl--line-height: 32px;
  --text-2xl--paragraph-spacing: 24px;

  --text-3xl: 30px;
  --text-3xl--line-height: 36px;
  --text-3xl--paragraph-spacing: 30px;

  --text-4xl: 36px;
  --text-4xl--line-height: 40px;
  --text-4xl--paragraph-spacing: 36px;

  --text-5xl: 48px;
  --text-5xl--line-height: 48px;
  --text-5xl--paragraph-spacing: 48px;

  --text-6xl: 60px;
  --text-6xl--line-height: 60px;
  --text-6xl--paragraph-spacing: 60px;

  --text-7xl: 72px;
  --text-7xl--line-height: 72px;
  --text-7xl--paragraph-spacing: 72px;

  --text-8xl: 96px;
  --text-8xl--line-height: 96px;
  --text-8xl--paragraph-spacing: 96px;

  --text-9xl: 128px;
  --text-9xl--line-height: 128px;
  --text-9xl--paragraph-spacing: 128px;

  /* Font Weight */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Border Radius */
  --radius-none: 0px;
  --radius-sm: 2px;
  --radius: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-xl: 12px;
  --radius-2xl: 16px;
  --radius-3xl: 24px;
  --radius-full: 9999px;

  /* Border Width */
  --default-border-width: 1px;
  --border-width-0: 0px;
  --border-width-2: 2px;
  --border-width-4: 4px;
  --border-width-8: 8px;

  /* Spacing */
  --spacing-0: calc(var(--spacing) * 0);
  --spacing-px: 1px;
  --spacing-0-5: calc(var(--spacing) * 0.5);
  --spacing-1: calc(var(--spacing) * 1);
  --spacing-1-5: calc(var(--spacing) * 1.5);
  --spacing-2: calc(var(--spacing) * 2);
  --spacing-2-5: calc(var(--spacing) * 2.5);
  --spacing-3: calc(var(--spacing) * 3);
  --spacing-3-5: calc(var(--spacing) * 3.5);
  --spacing-4: calc(var(--spacing) * 4);
  --spacing-5: calc(var(--spacing) * 5);
  --spacing-6: calc(var(--spacing) * 6);
  --spacing-7: calc(var(--spacing) * 7);
  --spacing-8: calc(var(--spacing) * 8);
  --spacing-9: calc(var(--spacing) * 9);
  --spacing-10: calc(var(--spacing) * 10);
  --spacing-11: calc(var(--spacing) * 11);
  --spacing-12: calc(var(--spacing) * 12);
  --spacing-14: calc(var(--spacing) * 14);
  --spacing-16: calc(var(--spacing) * 16);
  --spacing-20: calc(var(--spacing) * 20);
  --spacing-24: calc(var(--spacing) * 24);
  --spacing-28: calc(var(--spacing) * 28);
  --spacing-32: calc(var(--spacing) * 32);
  --spacing-36: calc(var(--spacing) * 36);
  --spacing-40: calc(var(--spacing) * 40);
  --spacing-44: calc(var(--spacing) * 44);
  --spacing-48: calc(var(--spacing) * 48);
  --spacing-52: calc(var(--spacing) * 52);
  --spacing-56: calc(var(--spacing) * 56);
  --spacing-60: calc(var(--spacing) * 60);
  --spacing-64: calc(var(--spacing) * 64);
  --spacing-72: calc(var(--spacing) * 72);
  --spacing-80: calc(var(--spacing) * 80);
  --spacing-96: calc(var(--spacing) * 96);

  /* Shadow */
  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 5%);
  --shadow: 0 1px 2px 0 rgb(0 0 0 / 5%), 0 1px 2px 0 rgb(0 0 0 / 5%);
  --shadow-md: 0 4px 4px -1px rgb(0 0 0 / 10%), 0 4px 4px -2px rgb(0 0 0 / 10%);
  --shadow-lg:
    0 4px 6px -4px rgb(0 0 0 / 10%), 0 10px 15px -3px rgb(0 0 0 / 10%);
  --shadow-xl:
    0 8px 10px -6px rgb(0 0 0 / 10%), 0 20px 25px -5px rgb(0 0 0 / 10%);
  --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 25%);
  --shadow-inner: inset 0 2px 4px 0 rgb(0 0 0 / 5%);

  /* Blur */
  --blur-none: 0px;
  --blur-sm: 4px;
  --blur: 8px;
  --blur-md: 12px;
  --blur-lg: 16px;
  --blur-xl: 24px;
  --blur-2xl: 40px;
  --blur-3xl: 64px;

  /* Background Blur */
  --backdrop-blur-none: var(--blur-none);
  --backdrop-blur-sm: var(--blur-sm);
  --backdrop-blur: var(--blur);
  --backdrop-blur-md: var(--blur-md);
  --backdrop-blur-lg: var(--blur-lg);
  --backdrop-blur-xl: var(--blur-xl);
  --backdrop-blur-2xl: var(--blur-2xl);
  --backdrop-blur-3xl: var(--blur-3xl);

  /* Breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  /* Semantic Colors */
  --base-black: #000000;
  --base-white: #ffffff;
  --base-transparent: #ffffff00;

  /* Neutral */
  --neutral-50: #fafaf9;
  --neutral-100: #f5f5f4;
  --neutral-200: #e7e5e4;
  --neutral-300: #d6d3d1;
  --neutral-400: #a8a29e;
  --neutral-500: #78716c;
  --neutral-600: #57534e;
  --neutral-700: #3a3934;
  --neutral-800: #191923;
  --neutral-900: #0a0a0f;
  --neutral-950: #02182b;

  /* Primary */
  --primary-50: #ece9f6;
  --primary-100: #c8c1e3;
  --primary-200: #9f93cf;
  --primary-300: #7665ba;
  --primary-400: #5947a1;
  --primary-500: #3d348b;
  --primary-600: #322a72;
  --primary-700: #272058;
  --primary-800: #1c1740;
  --primary-900: #110e2a;
  --primary-950: #0a0a0f;

  /* info */
  --info-50: #ecfeff;
  --info-100: #cffafe;
  --info-200: #a5f3fc;
  --info-300: #67e8f9;
  --info-400: #22d3ee;
  --info-500: #06b6d4;
  --info-600: #0891b2;
  --info-700: #0e7490;
  --info-800: #155e75;
  --info-900: #164e63;
  --info-950: #083344;

  /* Success */
  --success-50: #e0f5ee;
  --success-100: #b3e6d3;
  --success-200: #80d8ba;
  --success-300: #4dc99f;
  --success-400: #1aba83;
  --success-500: #00a878;
  --success-600: #008660;
  --success-700: #006448;
  --success-800: #004330;
  --success-900: #002118;
  --success-950: #00100c;

  /* Warning */
  --warning-50: #fef0e0;
  --warning-100: #fbd5af;
  --warning-200: #f9c68f;
  --warning-300: #f7b66f;
  --warning-400: #f5a653;
  --warning-500: #f39237;
  --warning-600: #d77820;
  --warning-700: #aa5e15;
  --warning-800: #7c450f;
  --warning-900: #4e2b09;
  --warning-950: #271505;

  /* danger */
  --danger-50: #fdebef;
  --danger-100: #fac1cb;
  --danger-200: #f7a4b3;
  --danger-300: #f4869b;
  --danger-400: #f16982;
  --danger-500: #ee4b6a;
  --danger-600: #cc2a4a;
  --danger-700: #a01e38;
  --danger-800: #751629;
  --danger-900: #4a0e1a;
  --danger-950: #25070d;

  /* Default Background + Inverted */
  --background-color-default: var(--neutral-100);
  --background-color-default-hovered: var(--neutral-200);
  --background-color-default-pressed: var(--neutral-300);
  --background-color-default-focused: var(--neutral-100);
  --background-color-default-loading: var(--neutral-300);
  --background-color-default-inverted: var(--neutral-700);
  --background-color-default-hovered-inverted: var(--neutral-800);
  --background-color-default-pressed-inverted: var(--neutral-900);
  --background-color-default-focused-inverted: var(--neutral-700);
  --background-color-default-loading-inverted: var(--neutral-900);

  /* Primary Background + Inverted */
  --background-color-primary: var(--primary-700);
  --background-color-primary-hovered: var(--primary-800);
  --background-color-primary-pressed: var(--primary-900);
  --background-color-primary-focused: var(--primary-700);
  --background-color-primary-loading: var(--primary-900);
  --background-color-primary-inverted: var(--primary-100);
  --background-color-primary-hovered-inverted: var(--primary-200);
  --background-color-primary-pressed-inverted: var(--primary-300);
  --background-color-primary-focused-inverted: var(--primary-100);
  --background-color-primary-loading-inverted: var(--primary-300);

  /* Info Background + Inverted */
  --background-color-info: var(--info-700);
  --background-color-info-hovered: var(--info-800);
  --background-color-info-pressed: var(--info-900);
  --background-color-info-focused: var(--info-700);
  --background-color-info-loading: var(--info-900);
  --background-color-info-inverted: var(--info-100);
  --background-color-info-hovered-inverted: var(--info-200);
  --background-color-info-pressed-inverted: var(--info-300);
  --background-color-info-focused-inverted: var(--info-100);
  --background-color-info-loading-inverted: var(--info-300);

  /* Success Background + Inverted */
  --background-color-success: var(--success-700);
  --background-color-success-hovered: var(--success-800);
  --background-color-success-pressed: var(--success-900);
  --background-color-success-focused: var(--success-700);
  --background-color-success-loading: var(--success-900);
  --background-color-success-inverted: var(--success-100);
  --background-color-success-hovered-inverted: var(--success-200);
  --background-color-success-pressed-inverted: var(--success-300);
  --background-color-success-focused-inverted: var(--success-100);
  --background-color-success-loading-inverted: var(--success-300);

  /* Warning Background + Inverted */
  --background-color-warning: var(--warning-700);
  --background-color-warning-hovered: var(--warning-800);
  --background-color-warning-pressed: var(--warning-900);
  --background-color-warning-focused: var(--warning-700);
  --background-color-warning-loading: var(--warning-900);
  --background-color-warning-inverted: var(--warning-100);
  --background-color-warning-hovered-inverted: var(--warning-200);
  --background-color-warning-pressed-inverted: var(--warning-300);
  --background-color-warning-focused-inverted: var(--warning-100);
  --background-color-warning-loading-inverted: var(--warning-300);

  /* Danger Background + Inverted */
  --background-color-danger: var(--danger-700);
  --background-color-danger-hovered: var(--danger-800);
  --background-color-danger-pressed: var(--danger-900);
  --background-color-danger-focused: var(--danger-700);
  --background-color-danger-loading: var(--danger-900);
  --background-color-danger-inverted: var(--danger-100);
  --background-color-danger-hovered-inverted: var(--danger-200);
  --background-color-danger-pressed-inverted: var(--danger-300);
  --background-color-danger-focused-inverted: var(--danger-100);
  --background-color-danger-loading-inverted: var(--danger-300);

  /* Text + Inverted */
  --text-color-white: var(--base-white);
  --text-color-white-inverted: var(--neutral-950);
  --text-color-default: var(--neutral-950);
  --text-color-default-inverted: var(--base-white);
  --text-color-primary: var(--primary-700);
  --text-color-primary-inverted: var(--primary-100);
  --text-color-info: var(--info-700);
  --text-color-info-inverted: var(--info-100);
  --text-color-success: var(--success-700);
  --text-color-success-inverted: var(--success-100);
  --text-color-warning: var(--warning-700);
  --text-color-warning-inverted: var(--warning-100);
  --text-color-danger: var(--danger-700);
  --text-color-danger-inverted: var(--danger-100);
  --text-color-placeholder: var(--neutral-500);
  --text-color-placeholder-inverted: var(--neutral-500);
  --text-color-caption: var(--neutral-600);
  --text-color-caption-inverted: var(--neutral-100);
  --text-color-link: var(--blue-700);
  --text-color-link-inverted: var(--blue-100);
  --text-color-visited: var(--purple-700);
  --text-color-visited-inverted: var(--purple-100);
  --text-color-loading: var(--neutral-700);
  --text-color-loading-inverted: var(--neutral-100);
  --text-color-disabled: var(--neutral-400);

  /* Border */
  --border-color-base: var(--base-white);
  --border-color-default: var(--neutral-400);
  --border-color-primary: var(--primary-700);
  --border-color-info: var(--info-700);
  --border-color-success: var(--success-700);
  --border-color-warning: var(--warning-700);
  --border-color-danger: var(--danger-700);
  --border-color-ring: var(--blue-300);
  --border-color-disabled: var(--neutral-300);
}

@layer base {
  :root.light {
    color-scheme: light;
  }

  :root.dark {
    color-scheme: dark;

    /* Default Background + Inverted */
    --background-color-default: var(--neutral-900);
    --background-color-default-hovered: var(--neutral-800);
    --background-color-default-pressed: var(--neutral-700);
    --background-color-default-focused: var(--neutral-900);
    --background-color-default-loading: var(--neutral-700);
    --background-color-default-inverted: var(--neutral-100);
    --background-color-default-hovered-inverted: var(--neutral-200);
    --background-color-default-pressed-inverted: var(--neutral-300);
    --background-color-default-focused-inverted: var(--neutral-100);
    --background-color-default-loading-inverted: var(--neutral-300);

    /* Primary Background + Inverted */
    --background-color-primary: var(--primary-300);
    --background-color-primary-hovered: var(--primary-200);
    --background-color-primary-pressed: var(--primary-100);
    --background-color-primary-focused: var(--primary-300);
    --background-color-primary-loading: var(--primary-100);
    --background-color-primary-inverted: var(--primary-900);
    --background-color-primary-hovered-inverted: var(--primary-800);
    --background-color-primary-pressed-inverted: var(--primary-700);
    --background-color-primary-focused-inverted: var(--primary-900);
    --background-color-primary-loading-inverted: var(--primary-700);

    /* Info Background + Inverted */
    --background-color-info: var(--info-300);
    --background-color-info-hovered: var(--info-200);
    --background-color-info-pressed: var(--info-100);
    --background-color-info-focused: var(--info-300);
    --background-color-info-loading: var(--info-100);
    --background-color-info-inverted: var(--info-900);
    --background-color-info-hovered-inverted: var(--info-800);
    --background-color-info-pressed-inverted: var(--info-700);
    --background-color-info-focused-inverted: var(--info-900);
    --background-color-info-loading-inverted: var(--info-700);

    /* Success Background + Inverted */
    --background-color-success: var(--success-300);
    --background-color-success-hovered: var(--success-200);
    --background-color-success-pressed: var(--success-100);
    --background-color-success-focused: var(--success-300);
    --background-color-success-loading: var(--success-100);
    --background-color-success-inverted: var(--success-900);
    --background-color-success-hovered-inverted: var(--success-800);
    --background-color-success-pressed-inverted: var(--success-700);
    --background-color-success-focused-inverted: var(--success-900);
    --background-color-success-loading-inverted: var(--success-700);

    /* Warning Background + Inverted */
    --background-color-warning: var(--warning-300);
    --background-color-warning-hovered: var(--warning-200);
    --background-color-warning-pressed: var(--warning-100);
    --background-color-warning-focused: var(--warning-300);
    --background-color-warning-loading: var(--warning-100);
    --background-color-warning-inverted: var(--warning-900);
    --background-color-warning-hovered-inverted: var(--warning-800);
    --background-color-warning-pressed-inverted: var(--warning-700);
    --background-color-warning-focused-inverted: var(--warning-900);
    --background-color-warning-loading-inverted: var(--warning-700);

    /* Danger Background + Inverted */
    --background-color-danger: var(--danger-300);
    --background-color-danger-hovered: var(--danger-200);
    --background-color-danger-pressed: var(--danger-100);
    --background-color-danger-focused: var(--danger-300);
    --background-color-danger-loading: var(--danger-100);
    --background-color-danger-inverted: var(--danger-900);
    --background-color-danger-hovered-inverted: var(--danger-800);
    --background-color-danger-pressed-inverted: var(--danger-700);
    --background-color-danger-focused-inverted: var(--danger-900);
    --background-color-danger-loading-inverted: var(--danger-700);

    /* Text + Inverted */
    --text-color-white: var(--neutral-950);
    --text-color-white-inverted: var(--base-white);
    --text-color-default: var(--base-white);
    --text-color-default-inverted: var(--neutral-950);
    --text-color-primary: var(--primary-300);
    --text-color-primary-inverted: var(--primary-900);
    --text-color-info: var(--info-300);
    --text-color-info-inverted: var(--info-900);
    --text-color-success: var(--success-300);
    --text-color-success-inverted: var(--success-900);
    --text-color-warning: var(--warning-300);
    --text-color-warning-inverted: var(--warning-900);
    --text-color-danger: var(--danger-300);
    --text-color-danger-inverted: var(--danger-900);
    --text-color-placeholder: var(--neutral-500);
    --text-color-placeholder-inverted: var(--neutral-500);
    --text-color-caption: var(--neutral-400);
    --text-color-caption-inverted: var(--neutral-900);
    --text-color-link: var(--blue-300);
    --text-color-link-inverted: var(--blue-900);
    --text-color-visited: var(--purple-300);
    --text-color-visited-inverted: var(--purple-900);
    --text-color-loading: var(--neutral-300);
    --text-color-loading-inverted: var(--neutral-900);
    --text-color-disabled: var(--neutral-600);

    /* Border */
    --border-color-base: var(--gray-950);
    --border-color-default: var(--neutral-600);
    --border-color-primary: var(--primary-300);
    --border-color-info: var(--info-300);
    --border-color-success: var(--success-300);
    --border-color-warning: var(--warning-300);
    --border-color-danger: var(--danger-300);
    --border-color-ring: var(--blue-700);
    --border-color-disabled: var(--neutral-700);
  }
}

@utility paragraph-xs {
  font-size: var(--text-xs);
  line-height: var(--text-xs--line-height);
  margin-bottom: var(--text-xs--paragraph-spacing);
}

@utility paragraph-sm {
  font-size: var(--text-sm);
  line-height: var(--text-sm--line-height);
  margin-bottom: var(--text-sm--paragraph-spacing);
}

@utility paragraph-base {
  font-size: var(--text-base);
  line-height: var(--text-base--line-height);
  margin-bottom: var(--text-base--paragraph-spacing);
}

@utility paragraph-lg {
  font-size: var(--text-lg);
  line-height: var(--text-lg--line-height);
  margin-bottom: var(--text-lg--paragraph-spacing);
}

@utility paragraph-xl {
  font-size: var(--text-xl);
  line-height: var(--text-xl--line-height);
  margin-bottom: var(--text-xl--paragraph-spacing);
}

@utility paragraph-2xl {
  font-size: var(--text-2xl);
  line-height: var(--text-2xl--line-height);
  margin-bottom: var(--text-2xl--paragraph-spacing);
}

@utility paragraph-3xl {
  font-size: var(--text-3xl);
  line-height: var(--text-3xl--line-height);
  margin-bottom: var(--text-3xl--paragraph-spacing);
}

@utility paragraph-4xl {
  font-size: var(--text-4xl);
  line-height: var(--text-4xl--line-height);
  margin-bottom: var(--text-4xl--paragraph-spacing);
}

@utility paragraph-5xl {
  font-size: var(--text-5xl);
  line-height: var(--text-5xl--line-height);
  margin-bottom: var(--text-5xl--paragraph-spacing);
}

@utility paragraph-6xl {
  font-size: var(--text-6xl);
  line-height: var(--text-6xl--line-height);
  margin-bottom: var(--text-6xl--paragraph-spacing);
}

@utility paragraph-7xl {
  font-size: var(--text-7xl);
  line-height: var(--text-7xl--line-height);
  margin-bottom: var(--text-7xl--paragraph-spacing);
}

@utility paragraph-8xl {
  font-size: var(--text-8xl);
  line-height: var(--text-8xl--line-height);
  margin-bottom: var(--text-8xl--paragraph-spacing);
}

@utility paragraph-9xl {
  font-size: var(--text-9xl);
  line-height: var(--text-9xl--line-height);
  margin-bottom: var(--text-9xl--paragraph-spacing);
}
