@import '../src/styles/globals.css';

html,
body,
.sb-show-main,
#storybook-root {
  min-height: 100vh;
  color: var(--color-text-default);
}

html {
  .sbdocs.sbdocs-preview {
    @apply min-h-0;
  }

  &.light {
    background-color: var(--white);
  }
  &.dark {
    background-color: var(--gray-950);
  }
}
