@import '../src/styles/globals.css';

html,
body,
.sb-show-main,
#storybook-root {
  min-height: 100vh;
  background-color: var(--background-color-default);
  color: var(--text-color-default);
}

html {
  .sbdocs.sbdocs-preview {
    @apply min-h-0;
  }

  &.light {
    background-color: var(--background-color-default);
  }
  &.dark {
    background-color: var(--background-color-default);
  }
}
